<nav class="pull-left">
  <%= link_to "A Workspace Management Application",
      "https://github.com/naathyn/workspace_management/",
      title: "Github Giles", target: "_blank" %>

  by Nathan Couch
</nav>

<nav class="pull-right">
  <small>
    Designed in
      <%= link_to "Ruby", "http://www.ruby-lang.org/", title:
        "The Official Ruby Programming Language", target: "_blank" %> -

    Launched from
      <%= link_to "Linux", "http://www.ubuntu.com/", title:
        "Ubuntu Linux", target: "_blank" %> -

    Riding on
      <%= link_to "Rails", "http://www.rubyonrails.org/", title:
        "Ruby on Rails", target: "_blank" %>
  </small>
</nav>
